# Github action artifacts.
artifacts
# Profiling artifacts.
cpu.*.prof
heap.prof
mutex.prof
coverprofile.out
# Testing artifacts
meta.*.test
# CASTLE trace logs (produced by cmd/trace_test/)
geth-trace-*
